{% extends "layout.html" %}

{% block title %}
EventFusion
{% endblock %}

{% block content %}

<div class="container mx-auto px-4 py-8">
    <h1 class="text-center text-white mt-4 mb-8">
        <span class="text-red-500 bol" style="color: yellow;">EventFusion</span> - Connecting You <br> to Every <span class="text-red-500 bol" style="color: violet;">Club's Vibe</span>
    </h1>
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg mb-8">
        <h6 class="text-white text-xl mb-4">
            {% if form.instance.pk %} Edit Tweet {% else %} Create Tweet {% endif %}
        </h6>
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning" type="submit">Submit</button>
        </form>
        <div class="mt-4">
            <a href="{% url 'tweet_list' %}" class="text-blue-400 hover:underline">Back to tweet list</a>
        </div>
    </div>
</div>

{% endblock content %}
